:root {
    --background-color: #1a192c;
    --panel-color: #474569;
    --border-color:
    --text-color:
}

body {
    background-color: var(--background-color);
    margin:0;
}

#simCanvas {
    display: block;
    /* 90vw = 90% of browser width*/
    width: min(90vw, 800px);
    height: auto;
    /* centers canvas left & right */
    margin-inline: auto;
    background-color: #ffffff;
}

.app-header {
    display:flex;
    align-items:center;
    background-color:var(--panel-color);
}

.simulation-controls {

}